.input-control {
    min-width: 300px;
}

:global(.button).search-button {
    background: blue;
    border: none;
}

:global(.icon).search-icon {
    color: white;
}

.search-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing {
    display: flex;
    justify-content: center;
}