.photoHeader{
    background-color: red;
    max-height: 370px;
}

.headerPicture{
    max-height: 370px;
}

.info-overlay{
    left:19%;
    bottom: 10px;
}

.business-name{
    font-size: 50px;
    color: white;
    font-family: Fantasy;
}

.claimedStyle{
    color: dodgerblue;
}

.text-red{
    color:orangered;
}

.sub-info{
    margin-left: 30px;
}

.td-width{
    width: 100px;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewList-photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.wd-review-title{
    font-size:30px;
}

.wd-link{
    color: dodgerblue;
}